@media (max-width: 767px) {
    .header__box,
    .bathroom__box {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 500px) {
    .btnFixedD {
        display: none;
    }
    .btnFixed {
        display: block;
    }
    footer {
        margin-bottom: 60px;
    }
}
